---
const { htmlString, value } = Astro.props;
---

<div class="text-center md:text-right flex flex-col gap-2 w-full">
  <p
    class="uppercase font-sans text-xs font-semibold text-rose-600"
    set:html={htmlString}
  />
  <span class="text-5xl text-gray-700">{value}</span>
</div>
