<div
  class="bg-cover border-style border-rose-600 border-2 border-solid p-8 select-none hidden md:block"
>
  <div class="cover border-style"></div>
</div>
<style>
  .border-style {
    border-radius: 50% / 35%;
  }

  .cover {
    position: relative;
    z-index: -10;
    width: 350px;
    height: 500px;
    background: orange;
    background-image: linear-gradient(to top, #e11d4845, #e11d4845),
      url("/cover.jpg");
    background-size: cover;
    background-position-x: center;
  }
</style>
