<div
  class="bg-cover border-style border-blue-300 border-2 border-solid p-8 select-none"
>
  <div class="cover border-style grayscale"></div>
</div>
<style>
  .border-style {
    border-radius: 50% / 35%;
  }

  .cover {
    position: relative;
    width: 350px;
    height: 500px;
    background: orange;
    background-image: url("./cover.jpg");
    background-size: cover;
    background-position-x: center;
  }
</style>
