<div
  class="bg-cover border-style border-blue-400 border-2 border-solid p-8 select-none"
>
  <div class="cover border-style"></div>
</div>
<style>
  .border-style {
    border-radius: 50% / 35%;
  }

  .cover {
    position: relative;
    z-index: -10;
    width: 350px;
    height: 500px;
    background: orange;
    background-image: linear-gradient(to top, #61a4fa87, #61a4fa45),
      url("./cover.jpg");
    background-size: cover;
    background-position-x: center;
  }
</style>
